<?xml version="1.0"?>
    <robot name="Clyde">
        <link name="base_link">
        </link>
        <link name="battery_link">
        </link>
        <link name="cover_link">
        </link>
        <link name="imu_link">
        </link>
        <link name="left_back_knee_link">
        </link>
        <link name="left_back_shoulder_link">
        </link>
        <link name="left_front_knee_link">
        </link>
        <link name="left_front_shoulder_link">
        </link>
        <link name="mainboard_link">
        </link>
        <link name="right_back_knee_link">
        </link>
        <link name="right_back_shoulder_link">
        </link>
        <link name="right_front_knee_link">
        </link>
        <link name="right_front_shoulder_link">
        </link>
    </robot>